USE [master]
GO
/****** Object:  Database [CacarolaReceitas]    Script Date: 08/12/2020 19:38:47 ******/
CREATE DATABASE [CacarolaReceitas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CacarolaReceitas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CacarolaReceitas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CacarolaReceitas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CacarolaReceitas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CacarolaReceitas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CacarolaReceitas]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 08/12/2020 19:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 08/12/2020 19:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 08/12/2020 19:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 08/12/2020 19:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 08/12/2020 19:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 08/12/2020 19:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 08/12/2020 19:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[NomeCategoria] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categoria] PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classificacao]    Script Date: 08/12/2020 19:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classificacao](
	[ClassificacaoID] [int] IDENTITY(1,1) NOT NULL,
	[ReceitaID] [int] NOT NULL,
	[NotaClassificacao] [int] NOT NULL,
	[UserID] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Classificacao] PRIMARY KEY CLUSTERED 
(
	[ClassificacaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comentario]    Script Date: 08/12/2020 19:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentario](
	[ComentarioID] [int] IDENTITY(1,1) NOT NULL,
	[ReceitaID] [int] NOT NULL,
	[UserID] [nvarchar](max) NULL,
	[TextoComentario] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Comentario] PRIMARY KEY CLUSTERED 
(
	[ComentarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dificuldade]    Script Date: 08/12/2020 19:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dificuldade](
	[DificuldadeID] [int] IDENTITY(1,1) NOT NULL,
	[NomeDificuldade] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Dificuldade] PRIMARY KEY CLUSTERED 
(
	[DificuldadeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingrediente]    Script Date: 08/12/2020 19:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingrediente](
	[IngredienteID] [int] IDENTITY(1,1) NOT NULL,
	[ReceitaID] [int] NOT NULL,
	[UnidadeMedidaID] [int] NOT NULL,
	[Nome] [nvarchar](max) NULL,
	[Quantidade] [float] NOT NULL,
	[Receita_ReceitaID] [int] NULL,
	[Receita_ReceitaID1] [int] NULL,
	[Receita_ReceitaID2] [int] NULL,
 CONSTRAINT [PK_dbo.Ingrediente] PRIMARY KEY CLUSTERED 
(
	[IngredienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receita]    Script Date: 08/12/2020 19:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receita](
	[ReceitaID] [int] IDENTITY(1,1) NOT NULL,
	[CategoriaID] [int] NOT NULL,
	[DificuldadeID] [int] NOT NULL,
	[UserID] [nvarchar](max) NULL,
	[NomeReceita] [nvarchar](max) NULL,
	[ModoPreparo] [nvarchar](max) NULL,
	[TempoPreparo] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Receita] PRIMARY KEY CLUSTERED 
(
	[ReceitaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnidadeMedida]    Script Date: 08/12/2020 19:38:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnidadeMedida](
	[UnidadeMedidaID] [int] IDENTITY(1,1) NOT NULL,
	[Unidade] [nvarchar](max) NULL,
	[Descricao] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UnidadeMedida] PRIMARY KEY CLUSTERED 
(
	[UnidadeMedidaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'c3f6816c-ad61-4b6b-b6b2-ce1d0a3b606c', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'8e238f35-6fec-4d13-ab63-f02969375641', N'User')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'358165da-dcd7-4ec9-aebe-cbd28947d833', N'8e238f35-6fec-4d13-ab63-f02969375641')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5ef41bee-1e87-49ee-bb53-42c3a57a029a', N'8e238f35-6fec-4d13-ab63-f02969375641')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0dfc96f3-6c8c-43df-92cc-d5b8481dc7f5', N'c3f6816c-ad61-4b6b-b6b2-ce1d0a3b606c')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'0dfc96f3-6c8c-43df-92cc-d5b8481dc7f5', N'bafantinelli@hotmail.com', 0, N'AKRBrjjx2XzCHP3vecgJbtY3u9Gbldr9jmaRfEZpQgY14xf5X3Ud+ksF4C0wzOgjkg==', N'8030d032-c2bd-4268-82e7-56a9159ebe52', NULL, 0, 0, NULL, 1, 0, N'bafantinelli@hotmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'358165da-dcd7-4ec9-aebe-cbd28947d833', N'user02@teste.com', 0, N'AFlBPGYzvPlMbDuGbTjOo9YyX94T6E6v8vgRGkZrUC8eaIRVvsFA8sXsSlkK7K+WsQ==', N'396bec4e-8211-449d-b540-0d572658ffe7', NULL, 0, 0, NULL, 1, 0, N'user02@teste.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'5ef41bee-1e87-49ee-bb53-42c3a57a029a', N'user01@teste.com', 0, N'AH/jUtC18JGp6TpdyInU1gqWRiC/DVvsOPn2WjbPhIIn+3SdR7iiobhNwJ2ZJr6DzA==', N'72826bd8-6021-47f0-a8d1-1272b920010f', NULL, 0, 0, NULL, 0, 0, N'user01@teste.com')
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([CategoriaID], [NomeCategoria]) VALUES (1, N'Aperitivo')
INSERT [dbo].[Categoria] ([CategoriaID], [NomeCategoria]) VALUES (2, N'Entrada')
INSERT [dbo].[Categoria] ([CategoriaID], [NomeCategoria]) VALUES (3, N'Prato principal')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Classificacao] ON 

INSERT [dbo].[Classificacao] ([ClassificacaoID], [ReceitaID], [NotaClassificacao], [UserID]) VALUES (3, 1, 4, N'user01@teste.com')
INSERT [dbo].[Classificacao] ([ClassificacaoID], [ReceitaID], [NotaClassificacao], [UserID]) VALUES (4, 1, 5, N'admin01@teste.com')
INSERT [dbo].[Classificacao] ([ClassificacaoID], [ReceitaID], [NotaClassificacao], [UserID]) VALUES (10, 1, 5, N'bafantinelli@hotmail.com')
SET IDENTITY_INSERT [dbo].[Classificacao] OFF
GO
SET IDENTITY_INSERT [dbo].[Comentario] ON 

INSERT [dbo].[Comentario] ([ComentarioID], [ReceitaID], [UserID], [TextoComentario]) VALUES (6, 1, N'admin01@teste.com', N'asdfghjk')
INSERT [dbo].[Comentario] ([ComentarioID], [ReceitaID], [UserID], [TextoComentario]) VALUES (13, 1, N'user01@teste.com', N'Teste2')
INSERT [dbo].[Comentario] ([ComentarioID], [ReceitaID], [UserID], [TextoComentario]) VALUES (15, 1, N'admin01@teste.com', N'Hello')
SET IDENTITY_INSERT [dbo].[Comentario] OFF
GO
SET IDENTITY_INSERT [dbo].[Dificuldade] ON 

INSERT [dbo].[Dificuldade] ([DificuldadeID], [NomeDificuldade]) VALUES (1, N'Fácil')
INSERT [dbo].[Dificuldade] ([DificuldadeID], [NomeDificuldade]) VALUES (2, N'Moderada')
INSERT [dbo].[Dificuldade] ([DificuldadeID], [NomeDificuldade]) VALUES (3, N'Difícil')
SET IDENTITY_INSERT [dbo].[Dificuldade] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingrediente] ON 

INSERT [dbo].[Ingrediente] ([IngredienteID], [ReceitaID], [UnidadeMedidaID], [Nome], [Quantidade], [Receita_ReceitaID], [Receita_ReceitaID1], [Receita_ReceitaID2]) VALUES (6, 14, 1, N'uyjhyygfd', 52, NULL, NULL, NULL)
INSERT [dbo].[Ingrediente] ([IngredienteID], [ReceitaID], [UnidadeMedidaID], [Nome], [Quantidade], [Receita_ReceitaID], [Receita_ReceitaID1], [Receita_ReceitaID2]) VALUES (7, 14, 1, N'kjmhgfd', 85, NULL, NULL, NULL)
INSERT [dbo].[Ingrediente] ([IngredienteID], [ReceitaID], [UnidadeMedidaID], [Nome], [Quantidade], [Receita_ReceitaID], [Receita_ReceitaID1], [Receita_ReceitaID2]) VALUES (9, 0, 1, N'Farinha111', 333, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Ingrediente] OFF
GO
SET IDENTITY_INSERT [dbo].[Receita] ON 

INSERT [dbo].[Receita] ([ReceitaID], [CategoriaID], [DificuldadeID], [UserID], [NomeReceita], [ModoPreparo], [TempoPreparo]) VALUES (1, 5, 2, N'admin01@teste.com', N'Bolo de chocolate', N'Bater os ingredientes da massa e assar a 18oºC.', 120)
SET IDENTITY_INSERT [dbo].[Receita] OFF
GO
SET IDENTITY_INSERT [dbo].[UnidadeMedida] ON 

INSERT [dbo].[UnidadeMedida] ([UnidadeMedidaID], [Unidade], [Descricao]) VALUES (1, N'g', N'Gramas')
INSERT [dbo].[UnidadeMedida] ([UnidadeMedidaID], [Unidade], [Descricao]) VALUES (2, N'kg', N'Quilograma')
INSERT [dbo].[UnidadeMedida] ([UnidadeMedidaID], [Unidade], [Descricao]) VALUES (3, N'mL', N'Mililitro')
SET IDENTITY_INSERT [dbo].[UnidadeMedida] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 08/12/2020 19:38:47 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 08/12/2020 19:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 08/12/2020 19:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 08/12/2020 19:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 08/12/2020 19:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 08/12/2020 19:38:47 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReceitaID]    Script Date: 08/12/2020 19:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_ReceitaID] ON [dbo].[Classificacao]
(
	[ReceitaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReceitaID]    Script Date: 08/12/2020 19:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_ReceitaID] ON [dbo].[Comentario]
(
	[ReceitaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Receita_ReceitaID]    Script Date: 08/12/2020 19:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_Receita_ReceitaID] ON [dbo].[Ingrediente]
(
	[Receita_ReceitaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Receita_ReceitaID1]    Script Date: 08/12/2020 19:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_Receita_ReceitaID1] ON [dbo].[Ingrediente]
(
	[Receita_ReceitaID1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Receita_ReceitaID2]    Script Date: 08/12/2020 19:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_Receita_ReceitaID2] ON [dbo].[Ingrediente]
(
	[Receita_ReceitaID2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UnidadeMedidaID]    Script Date: 08/12/2020 19:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_UnidadeMedidaID] ON [dbo].[Ingrediente]
(
	[UnidadeMedidaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoriaID]    Script Date: 08/12/2020 19:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_CategoriaID] ON [dbo].[Receita]
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DificuldadeID]    Script Date: 08/12/2020 19:38:47 ******/
CREATE NONCLUSTERED INDEX [IX_DificuldadeID] ON [dbo].[Receita]
(
	[DificuldadeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Classificacao]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Classificacao_dbo.Receita_ReceitaID] FOREIGN KEY([ReceitaID])
REFERENCES [dbo].[Receita] ([ReceitaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Classificacao] CHECK CONSTRAINT [FK_dbo.Classificacao_dbo.Receita_ReceitaID]
GO
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comentario_dbo.Receita_ReceitaID] FOREIGN KEY([ReceitaID])
REFERENCES [dbo].[Receita] ([ReceitaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comentario] CHECK CONSTRAINT [FK_dbo.Comentario_dbo.Receita_ReceitaID]
GO
ALTER TABLE [dbo].[Ingrediente]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ingrediente_dbo.Receita_Receita_ReceitaID] FOREIGN KEY([Receita_ReceitaID])
REFERENCES [dbo].[Receita] ([ReceitaID])
GO
ALTER TABLE [dbo].[Ingrediente] CHECK CONSTRAINT [FK_dbo.Ingrediente_dbo.Receita_Receita_ReceitaID]
GO
ALTER TABLE [dbo].[Ingrediente]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ingrediente_dbo.Receita_Receita_ReceitaID1] FOREIGN KEY([Receita_ReceitaID1])
REFERENCES [dbo].[Receita] ([ReceitaID])
GO
ALTER TABLE [dbo].[Ingrediente] CHECK CONSTRAINT [FK_dbo.Ingrediente_dbo.Receita_Receita_ReceitaID1]
GO
ALTER TABLE [dbo].[Ingrediente]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ingrediente_dbo.Receita_Receita_ReceitaID2] FOREIGN KEY([Receita_ReceitaID2])
REFERENCES [dbo].[Receita] ([ReceitaID])
GO
ALTER TABLE [dbo].[Ingrediente] CHECK CONSTRAINT [FK_dbo.Ingrediente_dbo.Receita_Receita_ReceitaID2]
GO
ALTER TABLE [dbo].[Ingrediente]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ingrediente_dbo.UnidadeMedida_UnidadeMedidaID] FOREIGN KEY([UnidadeMedidaID])
REFERENCES [dbo].[UnidadeMedida] ([UnidadeMedidaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ingrediente] CHECK CONSTRAINT [FK_dbo.Ingrediente_dbo.UnidadeMedida_UnidadeMedidaID]
GO
ALTER TABLE [dbo].[Receita]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Receita_dbo.Categoria_CategoriaID] FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[Categoria] ([CategoriaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Receita] CHECK CONSTRAINT [FK_dbo.Receita_dbo.Categoria_CategoriaID]
GO
ALTER TABLE [dbo].[Receita]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Receita_dbo.Dificuldade_DificuldadeID] FOREIGN KEY([DificuldadeID])
REFERENCES [dbo].[Dificuldade] ([DificuldadeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Receita] CHECK CONSTRAINT [FK_dbo.Receita_dbo.Dificuldade_DificuldadeID]
GO
USE [master]
GO
