@{
    ViewBag.Title = "Sobre o projeto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<h4>ACADEMIA POWER CODE</h4>
<p>Este projeto foi desenvolvido no âmibuto da <strong>Academia Power Code</strong>, promovida pela Rumos em parceria com a Câmara Municpal do Porto.</p>
<p>Ao longo de seis meses de formação intensiva, foram sendo desenvolvidas habilidades de programação web e banco de dados.</p>

<br />
<h4>O PROJETO</h4>
<p>O objetivo do projeto era o desenvolvimento em back-end e front-end de um website de receitas culinárias.</p>
<p>Este projeto foi desenvolvido utilizando <strong>.NET Framework</strong>, <strong>ASP.NET MVC5</strong> com páginas <strong>Razor</strong> e <strong>C#</strong><p>
<p>Para a camada de acesso a dados, foi utilizado o <strong>Entity Framework 6</strong> e o <strong>SQL Server</strong>.</p>
<p>A componente de segurança (autenticação e autorização) foi criada utilizando <strong>ASP.NET Identity</strong>.</p>
<p>A parte de front-end foi desenvolvida utilizando <strong>HTML5</strong>, <strong>CSS3 com Bootstrap</strong> e <strong>JavaScript com jQuery</strong>.</p>
<p>O servidor web utilizado foi o <strong>IIS Express</strong>.</p>