@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<br />
<address>
    <a href="mailto:bafantinelli@hotmail.com">bafantinelli@hotmail.com</a><br /><br />
    <abbr>Telemóvel:</abbr>
    (+351) 927 556 922<br /><br />

    Porto, Portugal<br />
    4250-541<br />

</address>
<a href="https://www.linkedin.com/in/barbara-fantinelli-coscolim/">
    <img src="~/Content/linkedin_cut.png" width="30" height="30" />
</a>