@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Caçarola Receitas</h1>
    <p class="lead">Qualquer um pode cozinhar.</p>
    <img src="~/Content/bacalhau-rei-do-natal.jpg" class="home-img" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mesa de natal</h2>
        <p>
            Quer saber como montar uma decoração de mesa de Natal? Confira este artigo com diversas inspirações para a noite mais especial do ano.
        </p>
        <p><a class="btn btn-default" href="https://www.pinterest.pt/mariatandrade9/mesas-de-natal/" target="_blank">Veja mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sobremesas rápidas</h2>
        <p>
            Separamos para vocês algumas sobremesas fáceis e rápidas de fazer. Não perca tempo na cozinha e aproveite seu tempo livre com a família!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44385/Receitas/Details/1" target="_blank">Veja mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coelho à caçador</h2>
        <p>
            Veja essa receita e aprenda a fazer um delicioso coelho à caçador para servir como prato principal no jantar. Delicie-se com essa maravilha!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44385/Receitas/Details/16" target="_blank">Veja mais &raquo;</a></p>
    </div>
</div>